{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="برنا نرم افزار مدیریت آموزشگاه آنلاین">
        <meta name="keywords" content="صفحه اساتید, برنا, آموزشگاه آنلاین , برنا داده پرداز زاگرس">
        <link  rel="stylesheet" href="{% static 'home_page/sass/main.css' %}"/>
    </head>
    <body>
		{% include 'bornaHome/navbar.html' %}
        <section class="teachersList" id="piano">
            <div class="teachersList__header">
                <h2>پیانو</h2>
            </div>
            <div class="teachersList__body">

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
            </div>
        </section>

        <section class="teachersList" id="koobei">
            <div class="teachersList__header">
                <h2>سازهای کوبه ای</h2>
            </div>
            <div class="teachersList__body">

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
            </div>
        </section>


        <section class="teachersList" id="zehi">
            <div class="teachersList__header">
                <h2>سازهای زهی</h2>
            </div>
            <div class="teachersList__body">

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
                
                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>

                <div class="teachersList__body--teacher">
                    <img src="{% static 'home_page/svg/teacher-icon.png' %}" />
                    <span>
                        <h3 class="teacherName">
                            <a href="{% url 'bornaHome:teacher' teacherName='نام و نام خانوادگی'%}">
                                نام و نام خانوادگی
                            </a>
                        </h3>
                        مدرس پیانو
                    </span>
                </div>
            </div>
        </section>
    </body>
</html>